<%= bootstrap_form_for(@depense) do |form| %>
  <div class="field">
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.collection_select :category_id, Category.where(user: current_user), :id, :name, label: "Catégorie"%>
  </div>

  <div class="field">
    <%= form.text_field :amount, label: "Montant (€)" %>
  </div>

  <div class="actions">
    <%= form.submit "Valider" %>
  </div>
<% end %>
