<p>
  <strong>Date:</strong>
  <%= @depense.date %>
</p>

<p>
  <strong>Catégorie:</strong>
  <%= @depense.category.name %>
</p>

<p>
  <strong>Montant:</strong>
  <%= @depense.amount %>€
</p>

<%= link_to 'Modifier la dépense', edit_depense_path(@depense) %> |
<%= link_to 'Voir les dépenses', depenses_path %>
