<h1>Catégories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.where(user: current_user).each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Voir', category %></td>
        <td><%= link_to 'Modifier', edit_category_path(category) %></td>
        <td><%= link_to 'Supprimer',
                        category,
                        method: :delete,
                        data: { confirm: "Attention, si vous supprimez cette catégorie, les #{Depense.where(category: category).count} dépenses qui y sont liés seront aussi supprimées" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle catégorie', new_category_path %>
