<h1>Catégories</h1>

<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @categories.where(user: current_user).each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Voir', category, class: "btn btn-secondary btn-sm" %></td>
        <td><%= link_to 'Modifier', edit_category_path(category), class: "btn btn-primary btn-sm" %></td>
        <td>
          <%= link_to 'Supprimer',
                      category,
                      method: :delete,
                      data: { confirm: "Attention, si vous supprimez cette catégorie, les #{Depense.where(category: category).count} dépenses qui y sont liées seront aussi supprimées" },
                      class: "btn btn-danger btn-sm",
                      title: "Supprimer" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div id="container" style="width:100%; height:400px;"></div>


  <%= link_to 'Nouvelle catégorie', new_category_path, class: "btn btn-primary" %>
</div>

<style>
    .container {
        margin-top: 30px;
    }
</style>
<script>
    if (document.readyState !== 'loading') {
        console.log('document is already ready, just execute code here');
        createChart();
    } else {
        document.addEventListener('DOMContentLoaded', function () {
            console.log('document was not ready, place code here');
            createChart();
        });
    }


    function createChart() {
        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Répartition des dépenses selon les catégories',
                align: 'center'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [
                {
                    name: 'Brands',
                    colorByPoint: true,
                    data: [
                        <% @categories.each do |category| %>
                        {
                            name: '<%= category.name %>',
                            y: <%= Depense.where(category: category).sum(:amount) %>
                        },
                        <% end %>
                    ]
                }
            ]
        });
    }
</script>