<!DOCTYPE html>
<html>
  <head>
    <title>DepenseManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/"> Tools </a>
        <a class="btn btn-outline-success" href="/depenses" role="button">
          Gérer ses dépenses
        </a>
        <a class="btn btn-outline-success" href="/categories" role="button">
          Gérer ses catégories
        </a>
        <a class="btn btn-outline-success" href="/users/edit" role="button">
          Gérer ses informations de connexion
        </a>
        <a class="btn btn-outline-success" href=<%= edit_account_path %> role="button">
          Gérer ses paramètres
        </a>
        <form class="form-inline">
          <% if current_user %>
            <a class="btn btn-outline-success" href="/users/sign_out" role="button">
              Se déconnecter
            </a>
          <% else %>
            <a class="btn btn-outline-primary" href="/users/sign_in" role="button">
              Se connecter
            </a>
            <a class="btn btn-outline-success" href="/users/sign_up" role="button">
              S'inscrire
            </a>
          <% end %>
        </form>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
